# Load Balancer built in Kubernetes (NLB) is alpha. It is recommended to use another way.
apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
#    service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"
spec:
  ports:
    - name: service
      port: 80
      targetPort: 80
    - name: https
      port: 443
      targetPort: 443

  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx

  type: LoadBalancer
